<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>OTP has been Sent</h1>
    <h1>Enter OTP to change Passoword</h1>
    <form action="/updatePassword" method="post">
        <label for="otp">OTP</label><input type="text" id="otp" name="otp"> <br>
        <label for="password">Password</label> <input type="password" id="password" name="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>